langchain_google_genai
ipykernel
dotenv
youtube-search-python
youtube-search
langgraph
langchain
langchain_community
langchain_openai
langchain_core
wikipedia
lxml
langchain-tavily
yfinance
ddgs
structlog
langchain_groq
pydantic
typing-extensions